extends layout

block content
  //h1= title
  //p Welcome to #{title}
  .form-zone
    .title-zone
      h1 Welcome #{user.username}
      .content-zone
        p 
          | Your ID is 
          strong #{user._id}
        p
          | Your username is 
          strong #{user.username}
        p
          | Your email is 
          strong #{user.email}
      .bottom-link
        a(href='/?signout=true') Sign Out